
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
body{
    background-color: rgba(220, 215, 201, 1);
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.navbar-nav{
    margin: auto;
    font-size: larger;
}

.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.33);
}

.footerm-main{
    width: auto;
    background-color: rgba(63, 79, 68, 1);
    height: 420px;
    border-radius: 15px;
}

.quote{
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.quote-home{
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.card-img-top{
    width: 75px;
    margin: auto;
}
.card{
    background-color: transparent;
    border: 0;
    color: white;
}

.card-footer-all{
    width: 50%;
    margin: auto;
}

.footer-foot{
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    font-size: 120%;
    text-align: center;
}

.home-bg{
    background-image: url(../img/universal/bck.png);
    background-position: center center;
    background-size: cover;
}

.home-left{
    float: left;
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
}

.home-right{
    float: right;
    text-align: right;
}

/* A SÁRGA CÍMEKRE EZT A CSS-T KELL RAKNI HOGY MEGLEYGEN A BETŰTÍPUS */
.tittle{
  font-family: "Braah One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #A27B5C;
}   

/* SZÖVEGRE ÁRNYÉKOT AD (NEM LEHET EGYSZERRE A KÖRVONALLAL*/
.shadow-text{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* SZÖVEGRE KÖRVONALAT AD (NEM LEHET EGYSZERRE AZ ÁRNYÉKKAL) */
.text-outline{
    text-shadow: -1px -1px 0 #00000084, 1px -1px 0 #00000084, -1px 1px 0 #00000084, 1px 1px 0 #00000084;
}

.mini-container{
    margin: auto;
    width: 50%;
}

h4{
    font-weight: 400;
}

h5{
    font-weight: 400;
}

.card-notfooter{
    background-color: #2C3930;
    font-weight: 400;
    border-radius: 15px;
}

.card-image{
    margin: auto;
    width: 250px;
    border-radius: 15px;
}

.btn-outline-primary{
    margin: auto;
    color: white;
    border-color: rgba(63, 79, 68, 1);
    width: 220px;
}

.btn-outline-primary:hover{
    margin: auto;
    color: white;
    border-color: rgba(63, 79, 68, 1);
    background-color: rgba(63, 79, 68, 1);
    width: 220px;
}

.mini-bck-part{
    background-image: url(../img/universal/bck2.png);
    background-size: auto;
    background-position: center center;
    border-radius: 15px;
}

.float-right{
    float: right;
}

#email-subtext{
    margin-left: 15px;
    margin-top: -15px;
}

.float-center{
    float: auto;
    text-align: center;
}