
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
body{
    background-color: rgba(220, 215, 201, 1);
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

.navbar-nav{
    margin: auto;
    font-size: larger;
}

.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.33);
}

.footerm-main{
    width: auto;
    background-color: rgba(63, 79, 68, 1);
    height: 420px;
}

.quote{
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.quote-dark{
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.card-img-top{
    width: 75px;
    margin: auto;
}
.card{
    background-color: transparent;
    border: 0;
    color: white;
}

.card-footer-all{
    width: 50%;
    margin: auto;
}

.footer-foot{
    vertical-align: middle;
    width: auto;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    font-size: 120%;
    text-align: center;
}

.home-bg{
    background-image: url(../img/home-bg-img-notfinal.png);
    background-position: center center;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}